<!DOCTYPE html>
<html lang="fr">
{% include "partials/site-head.njk" %}
<body>
  <div class="body-container has-navbar-fixed-top has-background-white-ter">
    {% include "partials/site-header.njk" %}

    {% block content %}
    {{ content | safe }}
    {% endblock %}

    {% include "partials/site-footer.njk" %}
  </div>
  <script crossorigin="anonymous" src="https://cdn.polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script defer src="{{ '/js/base.js' | url }}"></script>
  {% block jsScript %}
  {% endblock %}
  {# <script src="/js/main.bundle.js?ref={{ site.buildTime | date('X') }}"></script> #}
</body>
</html>