---
layout: "layouts/base.njk"
---

{% block content %}
  {# Header #}
  <section class="section"  >
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-8 is-offset-2">
          <div class="has-text-centered">
            <h1 class="title is-2">Favoriser l'entraide sur le territoire de Dinan au temps du coronavirus</h1>
            {# <h2 class="subtitle is-3">- {{ site.baselineLocation }} -</h2> #}
            <div class="content">
              {{ content | safe }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

    <section class="section has-background-white"  >
    <div class="container">
      <div class="has-text-centered">
        <h2 class="title is-3 mb-4">Des initiatives à relayer ?</h2>
      </div>
      <div class="columns is-vcentered">
        <div class="column is-6 is-offset-2">
            {# <h2 class="subtitle is-3">- {{ site.baselineLocation }} -</h2> #}
            <div class="content">
              <p>Si vous avez des annonces, des initiatives, des propositions en lien avec l'entraide sur le territoire de Dinan agglomération pendant l'épidémie, vous pouvez les diffuser ici.
            </div>
        </div>
        <div class="column is-2">
          <a class="button is-primary" href="/contribuer">Contribuer</a>
        </div>
      </div>
    </div>
  </section>

  <section class="section py-5">
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <div class="has-text-centered">
            <h2 class="title is-3">Annonces</h2>
            <p>Les dernières annonces reçues</p>
          </div>
        </div>
      </div>
      <div class="columns is-multiline">
        {%- for annonce in annonces | reverse | limit(2)-%}
          <div class="column is-6">
            {% include 'partials/annonce-card.njk' %}
          </div>
        {%- endfor -%}
      </div>
      <div class="has-text-right">
        <a class="button is-primary" href="/annonces/">Voir toutes les annonces</a>
      </div>
    </div>
  </section>

  <section class="section py-5">
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <div class="has-text-centered">
            <h2 class="title is-3">Alimentation</h2>
            <p class="has-text-weight-bold">ATTENTION ! Une carte a pris le relais de cette rubrique (qui n'est donc plus tenue à jour). <br>Rendez-vous sur <a href="https://producteursdinan.gogocarto.fr">Producteurs confinés Dinan Rance Emeraude</a>.</p>
            <br>
            <iframe width="800" height="600" src="https://producteursdinan.gogocarto.fr/annuaire?iframe=1#/carte/@48.46,-1.94,10z?cat=all" frameborder="0" marginheight="0" marginwidth="0"></iframe>
            <p>Les 2 derniers commerces proposant des produits locaux que vous pourriez soutenir.</p>
          </div>
        </div>
      </div>
      <div class="columns is-multiline">
        {%- for commerce in commerces | reverse | limit(2)-%}
          <div class="column is-6">
            {% include 'partials/commerce-card.njk' %}
          </div>
        {%- endfor -%}
      </div>
      <div class="has-text-right">
        <a class="button is-primary" href="/commerces/">Voir toutes les propositions alimentations</a>
      </div>
    </div>
  </section>

{% endblock %}