$footer-background-color: $primary;
$footer-color: $white;

$title-color: $primary;
$title-family: $family-title;
$subtitle-family: $family-subtitle;
$title-weight: $weight-normal;

$content-heading-weight: $weight-normal;

$navbar-height: 3.75rem;
$navbar-background-color: $primary;
$navbar-item-hover-color: $primary-invert;
$navbar-item-hover-background-color: darken($primary, 5%);
