<div class="card mb-3">
  <div class="card-content content">
    <header class="mb-4">
      <h3 class=" title is-4">{{commerce.nom }}</h3>
      <div class="subtitle meta-subtitle is-6">
        <p>
          <i class="icofont-location-pin"></i>
          {{commerce.codePostal}} {{commerce.ville}}
        </p>
        <p>
          <i class="icofont-{{commerce.typeIcon}}"></i>
          {{commerce.type}}
        </p>
      </div>
    </header>
    <p>{{ commerce.description | markdownify | safe}}
  </div>

  <div class="card-content has-background-primary-lighter">
    <p class="has-text-weight-bold">Pour en savoir plus : </p>
    {% if commerce.siteWeb %}
    <div>
      <i class="icofont-at"></i>
      <a href="{{commerce.siteWeb}}">
        {{commerce.siteWeb}}
      </a>
    </div>
    {% endif %}
    {% if commerce.facebook %}
    <div>
      <i class="icofont-facebook"></i>
      <a href="{{commerce.facebook}}">
        facebook
      </a>
    </div>
    {% endif %}
  </div>
</div>