<div class="card mb-3">
  <div class="card-content content">
    <header class="mb-4">
      <h3 class=" title is-4">{{commerce.nom }}</h3>
      <p class="subtitle is-6">
        <i class="icofont-location-pin"></i>
        {{commerce.codePostal}} {{commerce.ville}}
      </p>
    </header>
  <p>{{ commerce.description | markdownify | safe}}

  <div class="mt-3">
    <p class="has-text-weight-bold">Pour en savoir plus : </p>
    {% if commerce.siteWeb %}
    <div>
      <i class="icofont-at"></i>
      <a href="{{commerce.siteWeb}}">
        {{commerce.siteWeb}}
      </a>
    </div>
    {% endif %}
    {% if commerce.facebook %}
    <div>
      <i class="icofont-facebook"></i>
      <a href="{{commerce.facebook}}">
        facebook
      </a>
    </div>
    {% endif %}
  </div>
</div>
</div>